/* @override 
	http://staging.vantagep.com/ayrking/corp2016/wp-content/themes/ayrking/style.css?ver=4.7
	http://www.ayrking.com/wp-content/themes/ayrking/style.css?ver=4.7.2
	http://staging.vantagep.com/ayrking/corp2016/wp-content/themes/ayrking/style.css?ver=4.9.4
	http://staging.vantagep.com/ayrking/corp2016/wp-content/themes/ayrking-git/style.css?ver=4.9.4
	http://staging.vantagep.com/ayrking/corp2016/wp-content/themes/ayrking-git/style.css?ver=1 */


/*
Theme Name: Ayrking
Version: 1.0
Author: VantagePoint
*/

/*

COLORS:
AK Red: #E91A2E
Gold: #E39717

*/


* {
	margin: 0px;
	padding: 0px;
	font-family: "franklin-gothic-urw-cond", Helvetica, Arial;
}

html {
     -webkit-text-size-adjust:none;  
}

html.static {
	overflow:hidden;
}

.wf-loading {
	opacity: 0!important;
}

.wf-active {
	opacity: 1!important;
}

h1,h2,h3,h4 {
	color: #1c5a72;
}

.clear {
	clear: both;
	
}

.bkg-grid {
	background: url('images/grid-repeat.png') repeat left top;
}

.top {
}



h2 {
	color: #ec1427!important;	
	font-size: 24px!important;
	margin-bottom: 20px;
	font-weight: 600!important;
}

/* @group Header & Navigation */

.header {
	background: url('images/grid-repeat.png') repeat left top;
	padding: 0px!important;
}

.header > .container {
	padding: 0px;
}

.ayr-logo {
	width: 130px;
	margin: 20px;
	display: block;	
}

.ayr-logo img {
	display: block;
	width: 100%;
}

.top-navigation {
	background: url('images/trans-red.png') repeat left top;
	padding: 0px!important;
}

.nav-contain {
	float: left;
	width: 100%;
	position: relative;
	background: url('images/grid-repeat-red.png') repeat left top;
}

.nav-contain .desktop ul#menu-main {
	margin-bottom: 0px;
	padding: 15px 0px;
	overflow: hidden;
	float: left;
	
}

.nav-contain .desktop ul li {
	list-style: none;
	float: left;
	margin-left: 15px;
}

.desktop .sub-menu {
	z-index: 3;
	position: absolute;
	left: 0px;
	top: 79px;
	background: url('images/grid-repeat-gold.gif') repeat left top;
	width: 100%;
	display: none;
	padding: 25px 0px 15px 15px;
}

.spec-navigation {
	position: absolute;
	clear: both;
	position: relative;
	padding: 10px;
}

.contain-rel {
	position: relative;
}

.header-links {
	position: absolute;
	bottom: 10px;
	right: 20px;
}

.header-links a {

	clear: both;
	display: block;
	color: #ec1a2d;
	font-size: 20px;
}


.header-links a:hover {
	color: #000000;
}

a.contact-link {
	bottom: 100px;
	float: right;
	display: block;
	padding: 25px;;
	color: #FFFFFF!important;
	font-size: 20px;
}

.nav-contain .nav-buttons ul li a {
	padding: 10px;
	color: #fff;
	font-size: 19px;
	display: inline-block;
	text-transform: uppercase;
	border: 1px solid transparent;
}

#menu-item-27 ul.sub-menu li {
	width: 25%;
	text-align: left!important;
}

.current-menu-item > a {
	border: 1px solid #fff!important;
}

.nav-contain .nav-buttons ul li a .glyphicon {
	display: inline-block;
	padding: 10px 10px 0px 0px;
}

#menu-item-496 a span.glyphicon.glyphicon-share-alt {
	padding: 10px 0px 0px 10px;;	
}

.mobile-trigger .btn {
	padding: 10px;
	font-size: 20px;
	margin-top: 25px;
	margin: 15px 0px;
	color: #ec1427;
	border: 0px
}

.nav-buttons.mobile {
	display: none;
		background: #f5f5f5 url('images/grid-repeat-gold.gif') repeat left top;
	
}


.nav-buttons.mobile ul {
	overflow: hidden;
	list-style: none;
	
}

.nav-buttons.mobile ul > li {
	float: left;
	width: 100%;
	list-style: none;
}

.nav-buttons .sub-menu {
	display: none;
}

.nav-buttons.mobile li a,
.nav-buttons.mobile .parts-link  {
	font-size: 18px;
	font-weight: bold;
	width: 100%;
	display: block;
	color: #fff;
	padding: 10px 20px;
	text-align:left;
}

.nav-buttons.mobile li .sub-menu {
	background-color: #000;
	padding-left: 20px;
}

.nav-buttons.mobile li .glyphicon {
	padding-right: 10px;
}
 
.nav-buttons.mobile li:last-child .glyphicon {
	padding-left: 10px;
}

.nav-buttons.mobile .contact-link {
	display: none;
}

.menu-item-has-children{
	text-align: center;
}

.desktop .current-arrow {
	width: 60px;
	display: inline-block;
	margin: 0px auto;
	height: 20px;
	top: 15px;
	background: url('images/trans-arrow.png') no-repeat center top;
	position: relative;
	z-index: 20;
	display: none;
	opacity: .6;
}

.current-nav-item .current-arrow{
	display: block;
	
}


/* @end */

/* @group HOME */

#home-banner {
	padding-bottom: 10px;
	z-index: 0;
}

#home-banner .slide,
#home-banner .slide img {
	width: 100%!important;
}

#featured-products {
	padding: 30px 0px;
}

#featured-products h3 {
	margin: 0px;
}


#featured-products a {
	text-decoration: none;
	color: #ec1427!important;	
}

#featured-products .img-contain {
	padding: 20px;
	min-height: 250px;
}

#featured-products img {
	max-height: 200px;
	margin: 0px auto;
	display: block;
}

#home-content {
	padding: 30px;
}

#home-content h2 {
	text-transform: uppercase;
}

#home-content .columns .column-contain {
	background-color: #fff;
	padding: 20px;
	border: 2px solid #aaa;
	min-height: 350px;
	margin-bottom: 30px;
}

#home-content .columns a:hover .column-contain {
	border-color: #ec1427;
}

#home-content .columns a {
	text-decoration: none!important;	
}

#home-content .columns .column-contain p {
	font-size: 18px;
	color: #000;
}

.column-img {
	height: 90px!important;
	width: auto;
	margin: 0px auto 30px auto;
	display: block;
}


/* @end */

/* @group Breadcrumbs */

#breadcrumbs {
	background-color: red;
	color: #fff;	
}

#breadcrumbs ul {
	overflow: hidden;
	list-style: none;
	padding: 10px;
	margin-bottom: 0px;
}

#breadcrumbs ul li {
	float: left;
	padding-bottom: 0px;
}

#breadcrumbs ul li a {
	color: #fff;
	text-transform: uppercase;
	padding: 0px 0px 0px 15px;
	font-size: 20px;
}

#breadcrumbs ul li a.inactive {
	text-decoration: none!important;
}

#breadcrumbs ul li:first-child a {
	font-weight: bold;
}

#breadcrumbs ul li:last-child a .slash {
	display: none;
}


/* @end */

/* @group Interior Pages */

#left-col {
	padding: 75px 40px 40px 20px;
}

#left-col .diamond {
	position: absolute;
	top: 50px;
	right: -13px;
	width: 22px;
	height: 31px;
	background: url('images/diamond-grey.png') no-repeat left top;
}

#left-col .callout {
	font-weight: bold;
	color: #006E9A;
	margin-bottom: 30px;
}

#left-col p {
	margin-bottom: 20px;
	font-size: 18px;
}

#right-col {
	border-left: 2px solid #d1cbc9;
}

.sidebar ul {
	list-style: none;
	padding: 0px!important;
}

.sidebar ul li a {
	display: block;
	font-size: 18px;
	padding: 0px 0px 10px 0px;
	color: #999;
}


.sidebar ul li.current-menu-item a {
	text-decoration: underline;
}

.content-contain {
	margin-top: 75px;
}





.content-contain h2 {
	margin-top: 0px;
	margin-bottom: 20px;
	font-size: 35px!important;
}

.content-contain h3 {
		font-size: 22px!important;
		text-transform: uppercase;
		color: #E39717!important;
		font-weight: bold;
}


/* @end */

/* @group ABOUT */

/* @group Our History */

.history-timeline {
	background: url('images/pixel-blue.gif') repeat-y 38px 0px;
}

.decade {
	margin: 20px 0px;
	overflow: hidden;
	position: relative;
}

.decade .clear {
	padding-bottom: 4px;
}

.decade-date {
	background: url('images/diamond-decade.png') no-repeat left top;
	color: #fff;
	font-weight: bold;
	text-align: left;
	padding-left: 22px!important;
	height: 53px;
	padding-top: 9px;
	z-index: 1;
	position: relative;
	
}

.years {
	background: url('images/pixel-grey.gif') repeat-x top;
	margin-top: 26px;
	position: absolute!important;
	left: 55px;
	padding-left: 50px;
	width: 91%;

}

.year {
	float: left;
	margin-top: -9px;
	position: relative;
	
	
}

.year-date {
	padding: 22px 15px 0px 15px;
	color: #0d6e9b;
	background: url('images/diamond-blue.png') no-repeat center top;
	text-align: center!important;
	font-weight: bold;
	position: relative;
	z-index: 1;
	cursor: pointer;
}

.year-date:hover {
	color: #1ba9ec;
}

.year.current .year-date {
	color: #fff;
}

.year-content {
	display: none;
	background-color: #aaa;
	padding: 0px 0px 10px 0px;
	position: relative;
	top: -27px;
	z-index: 0;
	left: -50px;
}

.year-content p {
	width: 71%!important;
	float: left;
	margin-left: 20px;
	color: #fff;
	padding: 40px 40px 40px 0px;
}

.year-image {
	margin-top: 14px;
	max-width: 130px;
}



/* @end */

/* @group Leadership */

.leadership-bios {
	padding: 30px;
	width: 100%;
}

.bio-link {
	margin-bottom: 30px;
	cursor: pointer;
}

.bio-link .bio-name {
	color: #af7411;
	font-weight: bold;
	font-size: 18px;
	line-height: 20px;
	margin-top: 10px;
}

.bio-link:hover .bio-name {
	color: #e11a2d;
}

.bio-link .bio-name .name {
	text-transform: uppercase;
}

.bio-link img {
	height: 120px;
	display: block;
	border: 3px solid transparent;
	
}

.bio-link:hover img,
.bio-link.current img {
	border: 3px solid #e11a2d;
}

.bio-full {
	display: none;
}

.bio-load {
	width: 100%;
	left: 0px;
	position: absolute;
	background-color: #777;
	color: #fff;
	
	padding: 30px 45px;
	display: none;
}

.bio-load .bio-name {
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 20px;
}

.btn.closer {
	position: absolute;
	font-size: 40px;
	color: #fff;
	right: 20px;
	top: 20px;
	z-index: 10000000;
}

/* @end */

.wp-content p {
	width: 85%;
	font-size: 16px;
}

.columns-contain {
	padding: 30px;
	margin-top: 30px;;
}

.columns-contain p {
	font-size: 16px;
}

.page_values .column-contain {
	background-color: #fff;
	padding: 20px;
	border: 2px solid #aaa;
	margin-bottom: 30px;	
}
	
	
.page_values .column-contain h2 {
	font-size: 22px!important;
	text-transform: uppercase;
	color: #E39717!important;
}

/* @group Approach / Testimonials */

.logo-list {
	margin-bottom: 20px;
}

.logo-list img {
	display: block;
	margin: 0px auto;
	padding: 10px 0px;
	
}

.logo-col {
	min-height: 100px!important;
}


.leadership-bios {
	padding: 30px;
	width: 100%;
}

.page_values .column-contain h2 {
	font-size: 22px!important;
	text-transform: uppercase;
	color: #E39717!important;
}

.thick-border-left {
	
}

.testimonials {
position: relative;
}

.testimonial-contain{
	margin-bottom: 30px;
	background-color: #fff;
	margin-bottom: 30px;
	cursor: pointer;
	overflow: hidden;
}

.testimonial-link:hover .testimonial-contain,
.testimonial-link.current .testimonial-contain {
	border-color: #ec1427;
}

.testimonial-link {
	padding: 0px!important;
}

.testimonial-link .testimonial-name {
	color: #E39717;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	margin-top: 10px;
}

.testimonial-link h2.name {
	text-transform: uppercase;
	font-size: 30px!important;
	color: #555555!important;
	font-weight: 100!important;
	margin-bottom: 5px;;
}

.testimonial-link  .title {
	font-weight: bold;
}

.testimonial-contain img {
	display: block;
	width: 80%;
	margin: 0px auto 30px 0px;
}

.testimonial-full img {
	display: none;
	height: 100px;
	width: 75%;
}

.testimonial-full .link {
	color: #E91A2E;
	font-size: 20px;
}

.testimonial-full .full-text {
	display: none;
}

.testimonial-load {
	width: 100%;
	z-index: 1;
	top: 0px;
	position: absolute;
	left: 0px;
	background-color: #777;
	color: #fff;
	
	padding: 30px 45px;
	display: none;
}

.testimonial-load img {
	float: right;
	width: 120px;
	margin-right: 40px;;
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 20px;
}

.testimonial-load h2 {
	color: #fff!important;
	text-transform: uppercase;
	font-size: 20px!important;
	margin-bottom: 0px;
}


.testimonial-load .title {
	font-weight: bold;
}

.testimonial-load .excerpt {
	display: none;
}

.testimonial-load .full-text {
	display: block!important;
}

/* @end */


/* @end */

/* @group PRODUCTS */

.page-template-template-product h1 {
	font-weight: bold;
	margin: 0px 0px 30px 0px;
	color: #dc192b;
}

.image-backdrop {
	width: 85%;
	margin: 0px auto;
}

.spots {
	position: absolute;
	top: 0px;
	width: 100%;
}

.spot {
	position: absolute;
	width: 200px;
	z-index: 0;
}

.spot.current {
	z-index: 1;
}

.spot .text {
	color: #fff;
	padding: 30px;	
	width: 100%;
	position: relative;
	top: -18px;
	z-index: 0;
	font-size: 18px;
	display: none;
}

.spot .text .color-backdrop {
	top: 0px;
	left: 0px;
	height: 100%;
	z-index: -1;
}

.spot-img {
	position: relative;
	background: url('images/feature-spot.png') no-repeat left top;
	width: 52px;
	margin-left: -26px;
	left: 50%;
	height: 35px;
	z-index: 1;
	cursor: pointer;
	
	-webkit-transition: .25s ease-in-out 0s;
	-moz-transition: .25s ease-in-out 0s;
	transition: .25s ease-in-out 0s;
	
}

.spot:hover .spot-img {
	-webkit-transform: scale(1.15);
	-moz-transform: scale(1.15);
	transform: scale(1.15);
}

.more-info {
	padding: 30px;
}

/* @group Spot Positions */

.page_breader-blender-sifter .spot:first-child {top: 270px; left: 30px;}
.page_breader-blender-sifter .spot:nth-child(2) {top: 320px; left: 300px;}
.page_breader-blender-sifter .spot:last-child {top: 50px; right: 100px;}

.page_drumroll-automated-breader .spot:first-child {top: 310px; left: 180px;}
.page_drumroll-automated-breader .spot:nth-child(2) {top: 90px; left: 300px;}
.page_drumroll-automated-breader .spot:last-child {top: 180px; left: 160px;}     

.page_tumble-marinator .spot:first-child {top: 260px; left: 30px;}
.page_tumble-marinator .spot:nth-child(2) {top: 70px; left: 220px;}
.page_tumble-marinator .spot:last-child {top: 30px; right: 90px;} 

.page_lockaire-drive-thru-window .spot:first-child {top: 200px; left: 20px;}
.page_lockaire-drive-thru-window .spot:nth-child(2) {top: 390px; left: 20px;}
.page_lockaire-drive-thru-window .spot:nth-child(3) {top: 358px; left: 170px;}
.page_lockaire-drive-thru-window .spot:last-child {top: 50px; right: 100px;}

.page_spike-toaster .spot:first-child {top: 720px; left: 212px;}
.page_spike-toaster .spot:nth-child(2) {top: 430px; left: 50px;}
.page_spike-toaster .spot:last-child {top: 290px; right: 150px;}

.page_beverage-syrup-stirrer .spot:first-child {top: 190px; left: 170px;}
.page_beverage-syrup-stirrer .spot:nth-child(2) {top: 250px; left: 330px;}
.page_beverage-syrup-stirrer .spot:last-child {top: 650px; right: 220px;}

.spot {
	 margin: 0px 60px;
}

/* @end */

/* @group Color backdrops */

/*

ed1b2f:red
52819f:blue
000000:black
*/

.color-backdrop {
	position: absolute;
	top: 0px;
	width: 100%;
	height: 140%;
	opacity: .9;
	z-index: 0;
}

.color-backdrop.red {
	background-color: #E91A2E;
}

.color-backdrop.blue {
	background-color: #52819f;
}

/* @group Scale Hover */

.scale-hover,
.scale-hover * {
	-webkit-transition: .25s ease-in-out 0s;
	-moz-transition: .25s ease-in-out 0s;
	transition: .25s ease-in-out 0s;
	
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
}

.scale-hover.self:hover,
.scale-hover:hover .sh-target  {
	-webkit-transform: scale(1.08);
	-moz-transform: scale(1.08);
	transform: scale(1.08);
}



/* @end */

/* @end */

/* @group Gallery + Carousel */




.carousel-nav {
	margin: 30px auto 30px auto;
	padding: 30px;
	z-index: 1;
}

.carousel-nav-arrows {
	margin: 30px auto 30px auto;
	position: absolute;
	z-index: 2;
	width: 100%;
}

.carousel-nav-arrows .prev,
.carousel-nav-arrows .next {
	position: absolute;
	width: 35px;
	height: 160px;
	cursor: pointer;
}

.carousel-nav-arrows .prev {
	left: 0px;
	background: url('images/arrow-red-left.png') no-repeat right center;	
	
}

.carousel-nav-arrows .next {
	right: 0px;
	background: url('images/arrow-red-right.png') no-repeat left center;	
}

.carousel-nav img {
	width: 100px;
	margin: 0px 20px;
	cursor: pointer;
	
	-webkit-transition: .25s ease-in-out 0s;
	-moz-transition: .25s ease-in-out 0s;
	transition: .25s ease-in-out 0s;
}

.carousel-nav img:hover {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	transform: scale(1.1);
}	

.carousel-nav .tile {
	padding: 10px 0px;
}

.static .carousel-nav-arrows {
	display: none;
}

.static .carousel-nav {
	text-align: center;
	position: relative;
		
}

.static .carousel-nav .tile {
	display: inline-block!important;
	position: relative!important;
	left: 0px!important;
	right: 0px!important;
	top: 0px!important;
	bottom: 0px!important;
	margin: 0px auto;
	
}

.gallery-contain {
	display: none;

	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 2;
	overflow-y: scroll;
}

.gallery h4 {
	text-align: center;
	font-weight: bold;
	font-size: 25px;
	color: #fff;
}

.gallery .slide {
	padding: 120px 0px;
	width: 100%;
	
}

.gallery .slide img {
	margin: 0px auto;
	display: block;
	max-height: 468px;
	max-width: 100%;
}

.gallery-nav-arrows {
	position: absolute;
	z-index: 1000000;
	width: 100%;
	height: 100%;
}

.gallery-nav-arrows.static {
	display: none;
}

.gallery-nav-arrows .prev,
.gallery-nav-arrows .next {
	top: 50%;
	
	position: absolute;
	width: 35px;
	height: 90px;
	cursor: pointer;
}

.gallery-nav-arrows .prev {
	left: 100px;
	background: url('images/arrow-white-left.png') no-repeat right center;	
}

.gallery-nav-arrows .next {
	right: 100px;
	background: url('images/arrow-white-right.png') no-repeat left center;	
}



/* @end */



/* @group Video / Spec Sheets */

.more-info a {
	text-decoration: none!important;
}

.video-open {
	margin: 0px auto;
	width: 202px;
}

h3.section-title {
	color: #ec1427!important;	
	font-size: 20px!important;
	text-align: center;
	margin-bottom: 20px;
	font-weight: 600!important;
}

.section-copy {
	text-align: center;
	color: #000!important;
	font-size: 15px;;
}

.open-ss {
	text-decoration: none!important;
	display: block;
}

.open-ss img {
	padding: 18px;
}

.ss-contain {
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 2;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
}

.open-ss img {
	display: block;
	margin: 0px auto;
}

.spec-sheets {
	width: 75%;
	margin: 100px auto;
}

.spec-sheets h3 {
	color: #fff!important;
	font-weight: 100;
	font-size: 28px!important;
}

.spec-sheets ul li {
	list-style: none;
}

.spec-sheets ul li a {
	font-size: 25px;
	color: #fff;
	font-weight: bold;
}

.ss-contain .color-backdrop {
	z-index: -1;
}

.gallery h4 {
	text-align: center;
	font-weight: bold;
	font-size: 25px;
	color: #fff;
}

table.img-center{
	width: 100%;
}

table.img-center td {
	text-align: center!important;
	vertical-align: middle;
	height: 130px!important;

}


.op-image {
	display: inline-block;
	max-height: 130;
}






/* @end */

/* @group Calculators */

.calculator {
	border: 2px solid #E91A2E;
	padding: 0px!important;
	position: relative;
	padding-bottom: 100px;
	margin-top: 30px;
}

.calc-inputs {
	padding: 20px 20px 60px 20px;
	font-size: 16px;
}

.calc-inputs input[type=number],
.calc-inputs select {
	border: 2px solid #E91A2E;
	margin: 0px 0px 0px 4px;
	font-weight: bold;
	width: 100px;
	padding: 0px 5px;
	color: #740a14;
	margin-bottom: 10px;
}

.calc-results {
	background-color: #f1af4d;
	color: #fff;
	padding-bottom: 1px;
	display: none;
}

.breakdown {
	margin: 30px;
}

.breakdown table {
	width: 90%;
	border: 0px;
}

.calc-results h3 {
	margin-top: 0px;
	padding: 10px 20px;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff!important;
		background-color: #ee9d23;
	
}

.calc-results table td {
	color: #fff;
	padding: 10px;
	border: 0px!important;
	border-right: 1px solid!important;
	font-size: 16px;
}

.calc-results table td:first-child {
	text-align: right;
}

.calc-results table tr:nth-child(even) td {
	background-color: #ee9d23;
}

.calc-store {
	font-weight: bold!important;
}

a#calculate {
	position: absolute;
	right: 0px;
	bottom: 0px;
	color: #fff;
	text-align: right;
	padding: 70px 20px 10px 70px;
	text-transform: uppercase;
	font-weight: bold;
	
	background: url('images/calculate-button.png') no-repeat right bottom;
	
}

input[type=number] {
	width: 70px;
}

.cta-link {
	display: inline-block;
	padding: 5px;
	color: #ec1427!important;	
	font-size: 18px!important;
}

/* @end */

/* @end */

/* @group RESOURCES */

.retail-buttons {
	padding: 0px!important;
}

.spec-dl-button {
	font-size: 24px;
	font-weight: bold;
	padding: 8px 0px 8px 70px;
	display: block;
	background-color: #df1a2c;
	color: #FFFFFF;
	border: 0px;
	border-color: #df1a2c;
	border-radius: 15px;
	position: relative;
	text-decoration: none;
	margin-bottom: 30px;
	text-decoration: none!important;
	
	
-webkit-transition: .25s ease-in-out 0s;
-moz-transition: .25s ease-in-out 0s;
transition: .25s ease-in-out 0s;	
}

.spec-dl-button.calc {
	background: #df1a2c url('images/icon-calc2.png') no-repeat 15px 15px;
}

.spec-dl-button.toolkit {
	background: #df1a2c url('images/icon-toolkit.png') no-repeat 12px 12px;
}

.spec-dl-button:hover {
	background-color: #555555!important;
	color: #ffffff;
}
a.spec-dl-button:active,
a.spec-dl-button:visited,
a.spec-dl-button:focus{
	color: #ffffff!important;
}


form#resource_search {
	margin-bottom: 30px;
	margin-top: 20px;
		background: #f5f5f5 url('images/grid-repeat.png') repeat left top;
	
}

.search_column {
	margin-bottom: 30px;
	overflow: hidden;
	
}

.search_column.posts_per {
	margin-top: 40px;
	float: left;
	width: 100%;
	clear: both;
	
	
}

.search_column ul {
	list-style: none;
}

.search_column h3 {
	color: #fff!important;
	margin: 0px 0px 10px 0px;
	font-size: 18px;
	text-transform: uppercase;
	background: url('images/grid-repeat-red.png') repeat left top;
	padding: 10px;
			padding-left: 30px;
	
}

.has-results .search_column h3 {
	
padding-left: 10px;
}

.first-tier > .item {
	padding: 0px 20px 0px 0px;
}

.first-tier > .item:last-child{
	padding-right: 0px;
}

.has-results .first-tier > .item {
	padding: 0px;
}

#by_product_type .first-tier .input-contain {
	padding: 0px 30px;
	background: url('images/repeat-stripe.gif') repeat left top;
	font-size: 18px;
}

.search_column label {
	padding-left:5px;
}

.has-results #by_product_type .first-tier .input-contain {
	font-size: 18px;
		padding: 0px 10px;
	
}

.second-tier {
	border-top: 0px solid #fff;
}

.second-tier > .item .input-contain-second.has-children {
	background-color: #d7d7d7;
	padding: 11px;
	border-bottom: 1px solid #fff;
	
}

.third-tier{
	padding: 10px;
}

#by_product_type .second-tier,
#by_product_type .third-tier {
	display: none;
}

.third-tier,
#by_resource_type,
#by_document_type {
	overflow: hidden;
}

.third-tier .item,
#by_document_type .item,
.term-transducers .second-tier .item {
	float: left;
	list-style: none;
	display: inline-block;
	padding: 5px;
	padding-right: 10px!important;
	margin: 0px 5px 10px 0px;
	border-radius: 5px;
	font-size: 16px;
	
}

.highlighted > .input-contain-second {
	background-color: #a3d5f7 !important;
}

.third-tier > .highlighted,
#by_document_type .item.highlighted,
.term-transducers .second-tier div.item.highlighted {
	background-color: #e55353 !important;
	border-color: #79bbd6;
	color: #fff;
}

#by_product_type .item.highlighted label,
#by_resource_type .item.highlighted label {
	color: #de192c;
}

.term-transducers .second-tier  {
	padding-left: 12px;
	clear: both;
	overflow: hidden;
	margin-top: 10px;
}

#by_resource_type .first-tier {
	padding: 10px 30px;
}

.has-results #by_resource_type .first-tier {
		padding: 10px;
	
}

#resource_search .col-md-12 {
	padding: 0px;
}

.form-text {
	font-size: 20px;
	padding: 10px;
	width: 100%;
}

input.search-submit {
	color: #1c5a72;
	border: 2px solid #1c5a72;
	font-size: 24px;
	text-transform:uppercase;
	background-color: #fff;
	padding: 10px 0px;
	text-decoration: none!important;
	float: right;
}

.search-submit.new {
	display: block;
	text-align: center;
	margin-top: 30px;
	font-size: 16px;;
	float: left;
}







/* @group RESULTS */



.results .result {
	border: 1px solid #aaa;
	padding: 15px!important;
	margin: 0px 0px 20px 0px;
	overflow: hidden;
	
}

.result-info {
	width: 80%;
}

.result-info h4 {
	width: 40%;
	font-size: 25px;
	margin: 0px 10px;
}

.results .result img {
	max-height: 100px;;
}

.results .result.image {
	border: 0px;
	min-height: 280px;
	margin-bottom: 0px;
	padding-top: 0px!important;
}

.results .result.image img {
	margin: 0px auto;
	display: block;
	border: 1px solid #777;
	padding: 5px;
	
}

.results .result.image a {
	display: block;
	margin: 0px auto;
}

div.row.results {
	margin: 0px!important;
}

#pagination {
	width: 100%;
	padding: 30px 0px 30px 0px;
	background: url('images/repeat-stripe.gif') repeat left top;
	font-size: 18px;
	border-bottom: 2px solid #aaa;
	margin-bottom: 10px;
}

#pagination a,
#pagination .current{
	background-color: #fff;
	padding: 10px 15px;
	margin: 0px 10px 0px 0px;
	border: 1px solid;
	
}

#pagination div.posts_per.col-md-6 p.pull-right {
	margin-bottom: 0px;
	font-size: 16px;
	margin-top: 3px;;
}

/* @end */

/* @end */

/* @group SALES & SERVICE*/

.sales-map {
	position: relative;
}

.map-spots,
.map-spot{
	top: 0px;
	left: 0px;
	position: absolute;
	width: 100%;
}

.map-spot {
	opacity: 0;
	
	-webkit-transition: .25s ease-in-out 0s;
	-moz-transition: .25s ease-in-out 0s;
	transition: .25s ease-in-out 0s;
}

.map-spot.reveal {
	opacity: 1;
}

.sales-inputs {
	padding-top: 30px;;
}

.input-contain label {
	font-size: 20px;
	font-weight: normal;
}

.input-contain select {
	border: 2px solid #E91A2E;
	margin: 0px 0px 0px 4px;
	font-weight: bold;
	width: auto;
	font-size: 20px;
	padding: 0px 5px;
	color: #740a14;
	margin-bottom: 10px;
}

.sales-submit a {
	float: right;
}

.your-results {
	padding-top: 50px;
	display: none;
	
}

.your-results h2{
	background: url('images/grid-repeat-red.png') repeat left top;
	padding: 10px;
	font-size: 25px!important;
	color: #fff!important;
	margin-bottom: 0px!important;
}

.your-results .distributor-result {
	background: url('images/grid-repeat.png') repeat left top;
	padding: 30px;
}

.your-results .distributor-result h3 {
	margin-top: 0px;
}

.your-results .distributor-result td {
	vertical-align: top;
	padding: 5px 10px 0px 0px;
	}

.your-results table {
	width: 100%;
	font-size: 18px;
}

.your-results table p {
	font-size: 18px;
}

.your-results a {
	color: #000000;
	text-decoration: underline;
}

.your-results .distributor-result tr td:first-child{
	width: 15%;
	text-align: right;
	font-weight: bold;
	
}

table.dist-result {
	margin-bottom: 40px;
}
/* @end */

/* @group CONTACT */

.contact-info {
	border-top: 40px solid #ec1427;
	padding-top: 30px;
}

.contact-info p {
	font-size: 20px!important;
}

.contact-info strong{
	color: #ec1427;
}

label.gfield_label {
	font-size: 18px!important;	
}

#gform_submit_button_1,
input.search-submit,
.sales-submit a {
	display: block;
	border: 0px;
	padding: 31px;
	color: #fff!important;
	text-decoration: none!important;
	font-size: 20px;
	text-transform: uppercase;
	text-align: center;
	float: right;
	background: url('images/diamond-button.png') no-repeat center;
	cursor: pointer;
}

.gform_footer {
	width: 100%!important;
	clear: both;
	overflow: hidden;
	margin-left: 0px!important;
}

.gfield_error{
	padding-left: 20px;	
}

div.gfield_description.validation_message {
	font-size: 16px;;
}

/* @end */

/* @group MARKETS */

#retail-products div.col-md-8 h3  {
	font-size: 30px!important;
	color: #222222!important;
	font-weight: 100;
}

#retail-products h3 .sub {
	font-size: 22px;
	font-weight: 600;
}

div.video-open {
	width: 100%;
	overflow: hidden;
}

#retail-products h3.section-title {
	font-size: 16px!important;
}

#retail-menu {
	padding: 0px 0px;
	overflow: hidden;
	border-top: 1px solid #888;
	border-bottom: 1px solid #888;
	margin: 20px 0px;
}

#retail-menu a {
	color: red;
	text-align: center;
	display: block;
	font-size: 18px;
	text-transform: uppercase;
	line-height: 20px;
	text-decoration: underline;
	padding: 15px 0px;
} 

#retail-menu a.current {
	font-weight: bold;
}

.retail-block {
	display: none;
}

.retail-block.current {
	display: block;
}

/* @group SIDEBAR */

.single-sidebar-link,
.sidebar-downloads h3 {
	color: #777;
	text-transform: uppercase;
	font-size: 18px;
	display: block;
}

.single-sidebar-link,
.sidebar-downloads {
	margin-bottom: 20px;
}

.single-sidebar-link .glyphicon {
	font-size: 13px;
}

.sidebar-downloads .dl {
	margin-bottom: 10px;
	padding-left: ;
}

.sidebar-downloads .img {
padding: 0px;
}

.sidebar-downloads .title {
	padding-left: 10px;;
	font-size: 16px;
	font-weight: bold;
}


/* @end */

/* @end */

/* @group Video*/

.newsletter-list .btn {
	width: 100%;
	margin: 10px auto;
	
}

.video-links {
overflow: hidden;
	padding-bottom: 30px;
}

.wistia_embed {
	width: 100%;
	min-height: 130px;
	max-height: 200px;
	border: 1px solid #aaa;
	overflow: hidden;
}

.video-img {
	width: 90%;

}

.thumb_container {
	border: 1px solid #aaa!important;
}

/* @end */

/* @group Footer */

#footer {
	background: url('images/grid-repeat-red.png') repeat left top;
	color: #fff;
	font-size: 16px;
	text-align: center;
	padding:20px 0px;
	margin: 40px auto;
}


/* @end */

.column-contain {
	min-height: 470px;
}

/* @group @MEDIA Queries */

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 1200px) {
.search_column .input-contain label {
	font-size: 15px!important;
}


.column-contain {
	min-height: 650px;
}

.spot {
	 margin: 0px 0px;
}


.page_lockaire-drive-thru-window .spot:nth-child(3) {top: 288px; left: 170px;}
.page_spike-toaster .spot:first-child {top: 570px; left: 202px;}

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

.content-contain {
	margin-top: 5px;
}

.testimonial-contain img {
	width: auto;
}

.testimonial-contain,
.column-contain {
	min-height: auto;
}

.first-tier >.item {
	padding-right: 0px!important;
}

.years {
	padding-left: 0px;
}

.year-content {
	display: block!important;
	position: relative;
	top: 0px;
	left: 0px;
	overflow: hidden;
	margin-bottom: 20px;
}

.mobile-year {
	font-size: 20px;
	font-weight: bold;
	margin: 20px 0px 10px 18px;
	color: #fff;
}

.year-content p {
	width: 60%!important;
	padding: 0px;
	margin-left: 20px;
	color: #fff;
}

div.year {
	float: left;
	margin: 0px;
	left: 0px;
	
	overflow: hidden;
	clear: both!important;
}

.year-image {
	max-width: 90px;
	margin-top: 0px;
}


.spots {
	position: relative;
}


.spot {
	margin-top: 20px;
	position: relative;
	display: block;
	width: 100%;
	left: 0px!important;
	top: 0px!important;
}

.spot-img {
	left: 0px;
}

.spot .text {
	color: #fff;
	padding: 30px;	
	width: 100%;
	position: relative;
	top: -18px;
	z-index: 0;
	font-size: 18px;
	display: block!important;
	overflow: hidden;
}

.spot .text .color-backdrop {
	top: 0px;
	left: 0px;
	z-index: -1;
}

.spot-img {
	position: relative;
	background: url('images/feature-spot.png') no-repeat left top;
	width: 52px;
	margin-left: 0px;
	left: 0%;
	height: 35px;
	z-index: 1;
	cursor: pointer;
	
	-webkit-transition: .25s ease-in-out 0s;
	-moz-transition: .25s ease-in-out 0s;
	transition: .25s ease-in-out 0s;
}

.spot .text .color-backdrop {
	top: 0px;
	left: 0px;
	z-index: -1;
}


.spec-dl-button {
	background-size: 26px!important;
	background-position-y: 10px!important;
}
	


}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

.ayr-logo img {
	display: block;
	width: 50%;
}
	



	.gallery .slide {
		padding-bottom: 0px!important;
	}
	
	.gallery-nav-arrows {
		position: relative;
		z-index: 1000000;
		width: 100%;
		height: 0px;
	}
	
	.calc-results {
		padding-bottom: 50px;
	}
	
	.calc-results td:first-child {
		display: none;
	}

div.breakdown h4.hidden-lg.hidden-md {

font-size: 20px;
width: 75%;
text-align: center;
margin: 0px auto;
border-bottom: 2px solid #fff;
padding-bottom: 10px;
margin-bottom: 20px;

	
}



}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

.carousel-nav img {
	width: 50px;
}

}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {


}

/* @end */


